<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Basketball Team Signup</title>
    </head>

    <body>
    <form method="POST" action="/team">
        <div>Team Name: <input type="text" name="name"></div>
        <div>Coach: <input type="text" name="coach"></div>
        <div>Point Guard: <input type="text" name="pg"></div>
        <div>Shooting Guard: <input type="text" name="sg"></div>
        <div>Small Forward: <input type="text" name="sf"></div>
        <div>Power Forward: <input type="text" name="pf"></div>
        <div>Center: <input type="text" name="c"></div>
        <div>
            <input type="submit" id="Submit">
        </div>
        </form>
    </body>
</html>


